[submodule "third_party/materialx-samples"]
	path = third_party/materialx-samples
	url = https://github.com/bhouston/materialx-samples.git
[submodule "third_party/material-viewer"]
	path = third_party/material-viewer
	url = https://github.com/bhouston/material-viewer.git
